
body{
    background-color: white;
    margin: 0%;
    
}

.TopNavigation{
  background-color: #333;
}
.TopNavigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.TopNavigation li {
    display: inline;
    padding: 14px 16px ;
    color: white;
    text-align: center;  
}

.TopNavigation li a{
    text-decoration: none;
    color:white;
    text-align: center;
    font-family: Georgia;
    font-size:small; 
}

.TopNavigation a:link{
    color: white;
    font-weight: bolder;
}

.TopNavigation a:hover{
    color: rgb(44, 139, 0);
}

.li_left_C{
    float: left;
}
.li_right_C{
    float: right;
}


.header_image
{
	width: 100%;
  height: auto;
	padding-top:0px;
}

.SecNavBar {
  overflow: hidden;
  background-color: #6c6c6c;
}

.SecNavBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.SecNavBar a:hover {
  background-color: white;
  color: black;
}

.SecNavBar a.active {
  background-color: #04AA6D;
  color: white;
}


.SecNavBar .search-container{
	float: right;
}

.SecNavBar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}


		
.form2{
border-radius: 0px;
  width: 50%;
  margin-top: 0%;
  font-size: 15px;
  background-color:#F5F5F5;
  border: 2px solid black;
  background: rgba(0,0,0,0.4);
color: gold ;
}

	
.avatar{
width: 100px;
height: 100px;
border-radius: 50%;
top: 415px;
left: calc(50% - 50px) ;
}


.form2 input[type="text"], input[type="password"]{
border: none;
border-bottom: 1px  white;
outline: none;
height: 40px;
color: black;
font-size: 16px;
}


.forgot{
float: right;
margin-right:120px; 
color: red;
}


.form2 input[type="submit"]{
border: none;
outline: none;
height: 40px;
width: 350px;
background: #e6c619;
color: #fff;
font-size: 18px;
border-radius: 50px
}

.form2 input[type="submit"]:hover{
cursor: pointer;
background: #ffc107;
border-radius: 50px;
color: #000;
}


.form1{
border-radius: 0px;
  width: 50%;
  margin-top: 0%;
  font-size: 15px;
  background-color: #F5F5F5;
  border: 2px solid black;
background: rgba(0,0,0,0.5);
color: gold;
align-items: center;
}


.form1 input[type="text"], input[type="password"], input[type="radio"], textarea, input[type="date"]{
border: none;
border-bottom: 1px  white;
outline: none;
height: 40px;
color: black;
font-size: 16px;
}

.form1 input[type="text"]

	
.next {

float: right;
margin-right:50px;
margin-top: -25px;
}

